li.index {
    display:inline;
    font-family: Hiragino, Meiryo, sans-serif;
    margin:70px;
    width: 20px;
/*    padding: 20px 20px 20px 20px;*/
    height: 10px;
    font-size: large; 
    font-weight: bold; 
    color: blue;
}

a.index {
    font-family: Hiragino, Meiryo, sans-serif;
    text-decoration: none;
}

a.index:link { 
    font-family: Hiragino, Meiryo, sans-serif;
    color: blue; 
}
a.index:visited { 
    font-family: Hiragino, Meiryo, sans-serif;
    color: blue; }

a.index:hover { 
    font-family: Hiragino, Meiryo, sans-serif;
    color: white;
    background-color:blue;
}

a.member {
    font-family: Hiragino, Meiryo, sans-serif;
    text-decoration: none;
}

a.member:link { 
    font-family: Hiragino, Meiryo, sans-serif;
    color: black; 
}
a.member:visited { 
    font-family: Hiragino, Meiryo, sans-serif;
    color: black;
}

a.member:hover { 
    font-family: Hiragino, Meiryo, sans-serif;
    color: white;
    background-color:blue;
}

h1 {
    font-family: Hiragino, Meiryo, sans-serif;
    font-weight: bold; 

}

h3 {
    font-family: Hiragino, Meiryo, sans-serif;
    font-weight: bold; 
}

b.news {
    font-family: Hiragino, Meiryo, sans-serif;
    font-weight: bold; 
}

span.career {
    display: inline-block;
    width:12em;
}

span.class {
    display: inline-block;
    width:8em;
}

span.awardtitle {
    display: inline-block;
    width:15em;
}

span.awardname {
    display: inline-block;
    width:6em;
}

p {
    font-family: Hiragino, Meiryo, sans-serif;
    font-size: 1em;
}

#people .degree,
#people .year {
    display: inline-block;
    width: 40px;
    height: 24px;
    line-height: 24px;

    text-align: center;

    background-color: white;
    color: black;

    user-select: none;
    pointer-events: none;
}
