li.index {
    display:inline;
    margin:50px;
    width: 20px;
/*    padding: 20px 20px 20px 20px;*/
    height: 10px;
    font-size: large; 
    font-weight: bold; 
    color: blue;
}

a.index {
    text-decoration: none;
}

a.index:link { color: blue; 
}
a.index:visited { color: blue; }

a.index:hover { color: white;
	  background-color:blue;
}

h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold; 
}

span.career {
    display: inline-block;
    width:12em;
}

span.class {
    display: inline-block;
    width:8em;
}

span.awardtitle {
    display: inline-block;
    width:15em;
}

span.awardname {
    display: inline-block;
    width:6em;
}

#intro .p {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}

#people .degree,
#people .year {
    display: inline-block;
    width: 40px;
    height: 24px;
    line-height: 24px;

    text-align: center;

    background-color: white;
    color: black;
    font-family: "Roboto Condensed", sans-serif;

    user-select: none;
    pointer-events: none;
}
